
.container {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-right: 1px solid black;
    margin-right: 1rem;
}

.text_container {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.text {
    line-height: 1;
}
.icon {
    width: 25px;
}

.active > .text {
    color: blue;
}