
.container {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid black;
    margin-right: 1rem;
}

.text {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
